<div class="bg-light text-center py-5">
  <h1 class="text-primary">Movie Evaluate Website</h1>
  <p class="text-dark">Welcome to our movie evaluation site. Browse through our collection of movies and add or delete your own movies</p>
</div>
